<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <uses-permission android:name="android.permission.INTERNET">

    </uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_piccolo_sn"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_piccolo_sn"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".Shop.ShopActivity"
            android:exported="false" />
        <activity
            android:name=".Eventi.EventiActivity"
            android:exported="false" />
        <activity
            android:name=".WebCam.WebCamFragment"
            android:exported="false" />
        <activity
            android:name=".Mappa.MappaActivity"
            android:exported="false"
            android:label="@string/title_activity_mappa"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".Opzioni.SceltaOpzione"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Opzioni.ProfiloActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Opzioni.AttrezzaturaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Opzioni.InformazioniActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Opzioni.SoccorsoPisteActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Opzioni.ParcheggioActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Opzioni.ScuolaSciiActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pisteImpianti.pisteImpiantiActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".schermataOpzioni.SchermataOpzioniActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>